/* Sticky footer styles
-------------------------------------------------- */

@font-face {
    font-family: 'Amatic Regular';
    src: url('/static/fonts/AmaticSC-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.cool-text {
    font-family: "Amatic Regular", san-serif;
    font-size: 5em;
}

.countdown-input {
    font-family: "Amatic Regular", san-serif;
    font-size: 4em;
    border: 1px solid;
    width: 70%;
    padding: .2em;
    text-align: center;
}