{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/flipclock.css') }}">

    <style scoped>
        .container {
            text-align: center;
        }
    </style>

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}

{% block title %}Counting down to {{ countdown.name }}{% endblock %}


{% block content %}
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-lg-12">
                <label class="cool-text" for="name">Countdown to {{ countdown.name }}
                </label>
            </div>
        </div>
        <hr/>
        <script src="{{ url_for('.static', filename='js/countdown.js') }}"></script>

        <div class="countdown-clock" style="text-align: center;"></div>
        <script>
            var myCountdown1 = new Countdown({
                time: "{{ countdown.seconds_to_end }}",
                width: 600,
                height: 100
            });

            document.getElementById('Stage_jbeeb_3').style.zoom = 2;
        </script>
        <hr/>
        <a href="{{ url_for('index') }}" class="btn btn-default cool-text">Home</a>

        <hr/>
        <h1 class="cool-text-small"> Found a bug? Send me an email to <span
                class="email">gil dot yoanis at gmail dot com</span>
        </h1>
    </div>
{% endblock %}
